<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name= "android permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android permission READ_EXTERNAL STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moso"
        tools:targetApi="31">
        <activity
            android:name=".DetailPostActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" /> <!-- Google Maps API 키 추가 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC_0D9K97aBAl1HxWzAaxA5ymLMrutaOKo" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".account.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".account.LoadingActivity"
            android:exported="true"
            android:theme="@style/Theme.Moso">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.CheckPwActivity"
            android:exported="false" />
        <activity
            android:name=".account.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".profile.ProfileActivity"/>
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.FriendListActivity"
            android:exported="false" />
        <activity
            android:name=".PostViewActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".PostActivity"
            android:exported="false"
            android:launchMode="singleTask" />
    </application>

</manifest>